#title{
  font-family:"Courier", Times, serif;
  font-size:28px;
  background-color:red;
}

#one{
  width:300px;
  height:250px;
  font-size:20px;
  font-family: "Courier New", Times, serif;
  background-color:visible;
  position:relative;
  top:10px;
  color:white;
}
  
#two{
  width:300px;
  height:250px;
  font-family: "Courier New", Times, serif;
  font-size:20px;
  transform:translate(150%,-105%);
  position:relative;
  top:10px;
  color:white;
}

#three{
  width:300px;
  height:250px;
  font-family: "Courier New", Times, serif;
  font-size:20px;
  transform:translate(300%,-207%);
  top:10px;
  color:white;
}

#five{
  width:300px;
  height:250px;
  transform:translate(150%,-325%);
  font-family: "Courier New", Times, serif;
  font-size:20px;
  top:20px;
  color:white;
}

#four{
  width:300px;
  height:250px;
  font-family: "Courier New", Times, serif;
   transform:translate(0%,-215%);
  top:10px;
  font-size:20px;
  color:white;
}

#six{
  width:300px;
  height:250px;
  transform:translate(300%,-430%);
  font-size:20px;
  font-family: "Courier New", Times, serif;
  color:white;
}


