#one{
  width:300px;
  height:250px;
  background-color:#FFFF99;
  
}
  
#two{
  width:300px;
  height:250px;
  background-color:#deeaee;
  transform:translate(150%,-105%);

}

#three{
  width:300px;
  height:250px;
  background-color:#fbefcc;
  transform:translate(150%,-105%);

}

#four{
  width:300px;
  height:250px;
  background-color:#;
  
}

#five{
  width:300px;
  height:250px;
  background-color:#;
}

#six{
  width:300px;
  height:250px;
  background-color:#;
  
}